@use '../../palette/palette' as *;
@use '../../abstracts/inheritance/all' as *;
@use '../../abstracts/variables' as *;

.advantages {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 1.6rem;
  padding: 0 28px;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    @extend .subtitle-h2;
    width: 100%;
    white-space: pre;
  }

  &__icons-list {
    display: flex;
    list-style: none;
    padding: 0;
  }

  &__icon {
    width: 70px;
    height: 40px;
    object-fit: contain;
    padding: 6px 19px;
    border: 1px $green-secondary-500 solid;
    border-radius: 20px;
  }

  &__details-list {
    list-style: none;
    padding-left: 25px;
  }

  &__details-item {
    position: relative;
    white-space: pre;
    color: $green-neutral-500;

    &:where(:nth-child(1n):not(:last-child)) {
      margin-bottom: 14px;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 4px;
      left: -25px;
      width: 15px;
      height: 16px;
      border-radius: 50%;
      background-image: url('../../../images/components/Advantages/icons/item-marker.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__text {
    line-height: 1.62;
    color: $gray-700;

    & > span {
      font-weight: 600;
    }
  }

  &__product-images {
    position: relative;
    gap: 35px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 83px;
      transform: translateY(-50%);
      width: 718px;
      height: 718px;
      filter: blur(50px);
      background-color: $green-light-500;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &__images-group {
    display: flex;
    flex-direction: column;
  }

  &__image {
    border-radius: 39px;
    box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.5);
  }
}

@media screen and (min-width: 375px) {
  .advantages {
    padding-top: $pt-section-375-media;
    padding-bottom: $pb-section-375-media;

    &__info {
      align-items: center;
      max-width: 500px;
    }

    &__subtitle {
      line-height: 1.49;
      margin-bottom: 25px;
    }

    &__icons-list {
      flex-wrap: wrap;
      gap: 10px 13px;
      margin: 0 0 20px 0;
    }

    &__product-images {
      display: none;
    }

    &__details-list {
      margin: 0 0 31px 0;
    }

    &__details-item {
      line-height: 1.625;
      white-space: normal;
    }

    &__text {
      font-size: 1.4rem;
      line-height: 1.71;
      margin: 0 0 45px 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    &__info {
      align-items: start;
    }

    &__text {
      font-size: 1.6rem;
      line-height: 1.625;
    }
  }
}

@media screen and (min-width: 1024px) {
  .advantages {
    padding-top: $pt-section-1024-media;
    padding-bottom: $pb-section-1024-media;

    &__product-images {
      display: flex;
      align-items: center;
      margin-left: 50px;
    }

    &__image {
      width: 200px;
    }

    &__details-item {
      line-height: 1.35;
    }
  }
}

@media screen and (min-width: 1280px) {
  .advantages {
    &__info {
      margin-top: 56px;
    }

    &__product-images {
      align-items: start;
      margin-left: 100px;
    }

    &__image {
      width: 100%;
    }
  }
}
