@use '../../abstracts/inheritance/all' as *;
@use '../../palette/palette' as *;
@use '../../abstracts/variables' as variables;

.portfolio {
  position: relative;
  width: 100%;
  font-size: 1.6rem;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
    width: 656px;
    height: 499px;
    background-color: rgba($green-light-500, 0.5);
    border-radius: 50%;
    filter: blur(100px);
    z-index: -1;
  }

  &__subtitle {
    @extend .subtitle-h2;
  }

  &__text {
    max-width: 641px;
    color: $gray-700;
    line-height: 1.625;
    margin: 11px 0 0 0;
  }
}

@media screen and (min-width: 375px) {
  .portfolio {
    margin: 0 auto variables.$min-mb-section;

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__box-subtitle-text {
      display: flex;
      flex-direction: column;
      max-width: 520px;
      margin-bottom: 30px;
      padding: 0 variables.$min-plr-section;
    }

    &__subtitle {
      margin-bottom: 25px;
    }

    &__text {
      font-size: 1.4rem;
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    &__box-subtitle-text {
      align-self: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .portfolio {
    margin-bottom: variables.$max-mb-section;

    &__box-subtitle-text {
      max-width: 100%;
      flex-direction: row;
      align-self: self-start;
      gap: 136px;
    }

    &__subtitle {
      flex-shrink: 0;
      width: 394px;
    }

    &__text {
      font-size: 1.6rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  .portfolio {
    &__box-subtitle-text {
      padding: 0;
    }
  }
}
