@use '../../abstracts/mixins/mixins' as *;
@use '../../abstracts/inheritance/grid-columns-layout';

.services-provided {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 135px;

  &__description {
    @include text();
    max-width: 444px;
    margin-right: 110px;
  }

  &__subtitle {
    @include subtitle-h2;

    & span {
      display: inline-block;
      margin-bottom: 10px;
    }

    &::after {
      @include long-hyphen(245px, 2px, 0 0 10px 35px);
    }
  }

  &__text {
    margin-top: 27px;
  }
}
