@use '../../abstracts/inheritance/all' as *;
@use '../../abstracts/mixins/mixins' as *;
@use '../../abstracts/variables' as variables;

.services-provided {
  display: flex;

  &__description {
    @include text();

    max-width: 444px;
  }

  &__subtitle {
    @extend .subtitle-h2;

    & span {
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  &__text {
    margin: 27px 0 0;
  }
}

@media screen and (min-width: 375px) {
  .services-provided {
    flex-direction: column;
    align-items: center;
    padding: 0 variables.$min-plr-section;
    margin-bottom: variables.$min-mb-section;

    &__subtitle {
      &::after {
        @include long-hyphen(160px, 2px, 0 0 10px 15px);
      }
    }

    &__description {
      width: 300px;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 1.4rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .services-provided {
    padding: 0;

    &__description {
      width: 450px;
    }

    &__subtitle {
      &::after {
        @include long-hyphen(245px, 2px, 0 0 10px 35px);
      }
    }

    &__text {
      font-size: 1.6rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .services-provided {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 variables.$max-plr-section;
    margin-bottom: variables.$max-mb-section;

    &__description {
      margin: 0 clamp(40px, 5%, 110px) 0 0;
    }

    &__subtitle {
      &::after {
        @include long-hyphen(245px, 2px, 0 0 10px 35px);
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .services-provided {
    padding: 0;
  }
}
