@use '../../palette/palette' as *;
@use '../../abstracts/mixins/mixins' as *;
@use '../../abstracts/inheritance/inheritance' as *;

$margin-top-block: 19px;

.footer {
  @extend .grid-columns-layout_large;

  grid-template-rows: repeat(2, auto);
  display: grid;
  position: relative;
  column-gap: 20px;
  padding: 86px 135px 96px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../../../images/layout/footer/bg/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}
