@use '../../palette/palette' as *;
@use '../../abstracts/mixins/mixins' as *;
@use '../../abstracts/inheritance/all' as *;

$margin-top-block: 19px;

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  padding: 86px 0 94px;

  &__box-logo-about {
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../../../images/layout/footer/bg/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  &__wrapper {
    @extend .grid-columns-layout_large;

    grid-template-rows: repeat(2, auto);
    display: grid;
    column-gap: 20px;
    max-width: 1170px;
    width: 100%;
    margin: 0 135px;
  }
}
