@use '../../palette/palette' as *;
@use '../../abstracts/mixins/mixins' as *;
@use '../../abstracts/inheritance/all' as *;
@use '../../abstracts/variables' as variables;

$margin-top-block: 19px;

.footer {
  position: relative;
  font-size: 1.6rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../../../images/layout/footer/bg/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  &__wrapper {
    display: grid;
    max-width: variables.$max-width-section;
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .footer {
    padding: 45px 0 variables.$min-pb-section;

    &__wrapper {
      justify-content: center;
      padding: 0 variables.$min-plr-section;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      grid-template-columns: repeat(2, minmax(auto, 400px));
      column-gap: 45px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-bottom: variables.$max-pb-section;

    &__wrapper {
      column-gap: 80px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
    justify-content: center;

    &__wrapper {
      grid-template-columns: 1fr 1fr minmax(250px, 290px);
      column-gap: 0px;
      padding: 0;
    }
  }
}
