@use '../../palette/palette' as *;

.footer {
  &__about {
    grid-column: 1/6;
    grid-row: 2/10;
    max-width: 406px;
  }

  &__description {
    color: $green-neutral-500;
    padding-bottom: 25px;
    border-bottom: 1px $green-secondary-500 solid;
  }

  &__slogan {
    font-family: 'Ruberoid Medium';
    color: $green-primary-900;
    margin: 0;

    &-company-name {
      font-family: 'Ruberoid Semibold';
      color: $green-secondary-500;
    }
  }
}

@media screen and (min-width: 375px) {
  .footer {
    &__about {
      grid-column: 1/3;
      grid-row: 4;
    }

    &__description {
      font-size: 1.3rem;
      line-height: 1.76;
      margin: 0 0 25px;
    }

    &__slogan {
      font-size: 1.5rem;

      &-company-name {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__about {
      grid-column: 1;
      grid-row: 3;
    }

    &__description {
      font-size: 1.4rem;
    }

    &__slogan {
      font-size: 1.8rem;

      &-company-name {
        font-size: 2.2rem;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    &__about {
      grid-row: 2;
    }

    &__description {
      margin-bottom: 35px;
    }
  }
}
