@use '../../palette/palette' as *;
@use '../../abstracts/mixins/mixins' as *;
@use '../../abstracts/inheritance/all' as *;
@use './footer' as *;

$margin-right-icon-list-item: 12px;

.footer {
  &__contacts {
    grid-column: 6/9;
    grid-row: 1/3;
    width: 100%;

    &-subtitle {
      @extend .footer-subtitle;
    }

    &-list {
      color: $green-neutral-700;
    }

    &-item {
      display: flex;
      align-items: center;

      &_icon {
        &_number-phone {
          &::before {
            @include icon-contact(
              '../../../images/common/icons/telephone-handle.svg'
            );
          }
        }

        &_email {
          &::before {
            @include icon-contact('../../../images/common/icons/envelope.svg');
          }
        }

        &_work-time {
          &::before {
            @include icon-contact('../../../images/common/icons/calendar.svg');
          }
        }

        &_address {
          &::before {
            @include icon-contact('../../../images/common/icons/pin.svg');
          }
        }

        &_number-phone,
        &_email,
        &_work-time,
        &_address {
          &::before {
            margin-right: $margin-right-icon-list-item;
          }
        }

        &_work-time,
        &_address {
          align-self: self-start;

          &::before {
            align-self: self-start;
            margin-right: $margin-right-icon-list-item;
          }
        }
      }
    }
  }

  &__number-phone {
    color: inherit;
  }

  &__email {
    color: inherit;
  }

  &__work-time {
    white-space: pre-line;
    line-height: 1.42;
  }

  &__address {
    white-space: pre-line;
    line-height: 1.42;
  }
}

@media screen and (min-width: 375px) {
  .footer {
    &__contacts {
      grid-column: 1/3;
      grid-row: 2;
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: 1px $green-light-400 solid;

      &-subtitle {
        margin-bottom: 18px;
      }

      &-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        row-gap: 15px;
        column-gap: 25px;
        font-size: 1.3rem;
        margin: 0;
      }

      &-item {
        &_grid-position {
          &_email {
            grid-row: 3;
            grid-column: 1;
          }

          &_work-time {
            grid-row: 1/3;
            grid-column: 2;
          }

          &_address {
            grid-row: 2/5;
            grid-column: 2;
            align-self: self-end;
          }
        }

        &_icon {
          &_number-phone {
            &::before {
              width: 16px;
              height: 16px;
            }

            &:where(:nth-child(1)) {
              grid-row: 1;
              grid-column: 1;
            }

            &:where(:nth-child(2)) {
              grid-row: 2;
              grid-column: 1;
            }
          }

          &_email {
            &::before {
              width: 16px;
              height: 13px;
            }
          }

          &_work-time {
            &::before {
              width: 16px;
              height: 16px;
            }
          }

          &_address {
            &::before {
              width: 16px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__work-time {
      margin-top: 3px;
    }

    &__contacts {
      grid-column: 1;

      &-list {
        font-size: 1.6rem;
      }

      &-item {
        &_icon {
          &_number-phone {
            &::before {
              width: 22px;
              height: 22px;
            }
          }

          &_email {
            &::before {
              width: 24px;
              height: 18px;
            }
          }

          &_work-time {
            font-size: 1.4rem;

            &::before {
              width: 22px;
              height: 22px;
            }
          }

          &_address {
            font-size: 1.4rem;

            &::before {
              width: 24px;
              height: 31px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    &__contacts {
      grid-row: 1/3;
      grid-column: 2;
      width: auto;
      border-bottom: none;
      margin: 20px auto 0;

      &-subtitle {
        margin-bottom: 13px;
      }

      &-list {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0;
      }
      &-item {
        &:where(:nth-child(1n):not(:last-child)) {
          padding: 15px 0;
        }
        &_border {
          &_bottom {
            border-bottom: 1px $green-light-400 solid;
          }
        }

        &_padding-top {
          &_work-time {
            padding-top: 27px;
          }
        }

        &_grid-position {
          &_work-time {
            grid-row: 4;
            grid-column: 1;
          }

          &_address {
            grid-row: 5;
            grid-column: 1;
            padding: 0;
          }
        }
      }
    }
  }
}
