@use '../../abstracts/inheritance/footer-title';
@use './footer' as *;

.footer__application {
  grid-column: 10/13;
  grid-row: 1/3;
  margin-top: $margin-top-block;
}

.footer__application-title {
  @extend .footer-title;

  margin-bottom: 28px;
}
