@use '../../../palette/palette' as *;
@use '../../../abstracts/mixins/mixins';

.hero {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 135px;

  &::after {
    background-image: url('/images/bg/leavesInCircle.png');
    background-repeat: no-repeat;
  }

  &__wrapper {
    margin: 0 auto;
    z-index: 1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin: 158px 0 66px;
    max-width: 520px;
  }
}

@media screen and (min-width: 375px) {
  .hero {
    height: 100vh;
    justify-content: center;
    background-image: linear-gradient(
      -90deg,
      rgba(241, 241, 241, 1),
      rgba(240, 242, 241, 1),
      rgba(235, 237, 236, 1),
      rgba(230, 232, 231, 1),
      rgba(222, 226, 225, 1)
    );
    padding: 0 28px;

    &::after {
      content: '';
      position: absolute;
      left: 0; /* а bottom управляется через js */
      bottom: -472px;
      top: unset;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      transform: rotate(90deg) scale(195%);
    }

    &__wrapper {
      display: flex;
      justify-content: center;
    }

    &__info {
      width: 319px;
      align-items: center;
      margin-top: 148px;
    }
  }
}

@media screen and (min-width: 540px) {
  .hero {
    &::after {
      bottom: -650px;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 0 45px;
    &::after {
      bottom: -850px;
    }

    &__info {
      max-width: 516px;
      width: 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background-image: linear-gradient(
      -180deg,
      rgba(241, 241, 241, 1),
      rgba(240, 242, 241, 1),
      rgba(233, 235, 234, 1),
      rgba(230, 232, 231, 1),
      rgba(222, 226, 225, 1)
    );

    &::after {
      display: block;
      width: 810px;
      z-index: 0;
      bottom: auto;
      left: auto;
      top: 0;
      right: -300px;
      background-size: cover;
      background-position: left;
      transform: rotate(0deg) scale(100%);
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    &::after {
      right: 0;
    }

    &__wrapper {
      display: block;
      max-width: 1170px;
      width: 100%;
    }
  }
}
