@use '../palette/palette' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins/mixins' as *;
@use '../abstracts/inheritance/all';
@use 'sass:map';

$field-button: 10px;

.button-action {
  flex-shrink: 0;
  position: relative;
  background-color: rgba($white, 0.45);

  &__button {
    @extend .active-button-action;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    border: none;
    font-size: 15px;
    font-family: 'Ruberoid Medium';
    line-height: 1.37;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 0;
    opacity: 100%;
    cursor: pointer;

    &:hover {
      background-color: $green-accent-500;
    }

    &:disabled {
      background-color: $green-neutral-300;
      box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
      cursor: default;
    }
  }

  &_bg-color_white {
    background-color: rgba($white, 0.45);
  }

  &_bg-color_green {
    background-color: rgba($green-secondary-500, 0.25);
  }

  &_size_xs {
    width: 69px;
    height: 69px;
    border-radius: 20px;

    & > button {
      width: calc(100% - $field-button * 2);
      height: calc(100% - $field-button * 2);
      border-radius: 15px;
    }
  }

  &_size_s {
    width: 210px;
    height: 75px;
    border-radius: 20px;

    & > button {
      width: calc(100% - $field-button * 2);
      height: calc(100% - $field-button * 2);
      border-radius: 17px;
    }
  }

  &_size_m {
    width: 229px;
    height: 75px;
    border-radius: 20px;

    & > button {
      width: calc(100% - $field-button * 2);
      height: calc(100% - $field-button * 2);
      border-radius: 17px;
    }
  }

  &_size_xl {
    $field-button: 15px;

    width: 477px;
    height: 115px;
    border-radius: 40px;
    background-color: rgba($green-secondary-500, 0.25);

    & > button {
      width: calc(100% - $field-button * 2);
      height: calc(100% - $field-button * 2);
      border-radius: 30px;
      font-size: 17px;
    }
  }

  &_in-navigation-menu {
    & > button {
      box-shadow: 0px 4px 10px 0px rgba($green-primary-900, 0.15);
      background-image: url('/images/components/ButtonMenu/icons/menu.svg');
      background-size: 25px 16px;
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        background-color: $gray-200;
      }
    }
  }

  &_in-footer {
    width: 100%;
    background-color: rgba($green-secondary-500, 0.25);
  }

  &_in-contact-with-us {
    position: absolute;
    top: -88px;
    right: 0;
  }
}

@media screen and (min-width: 375px) {
  $padding-bg-button-action: 15px;

  .button-action {
    &_size_xl {
      width: 319px;
      height: 90px;
      border-radius: 30px;
      padding: $field-button;

      & > button {
        width: calc(100% - $field-button * 2);
        height: calc(100% - $field-button * 2);
        border-radius: 20px;
        letter-spacing: 0;
      }
    }

    &_in-header {
      display: none;
    }

    &_in-submit-application {
      flex-shrink: 1;
      width: 100%;
    }

    &_in-advantages {
      $field-button: 15px;

      & > button {
        width: calc(100% - $field-button * 2);
        height: calc(100% - $field-button * 2);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  $field-button: 15px;

  .button-action {
    &_size_xl {
      width: 477px;
      height: 115px;
      border-radius: 40px;
      padding: $field-button;

      & > button {
        width: calc(100% - $field-button * 2);
        height: calc(100% - $field-button * 2);
        border-radius: 30px;
        letter-spacing: 0.55px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .button-action {
    &_in-submit-application {
      max-width: 229px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .button-action {
    &_in-header {
      display: block;
    }

    &_in-footer {
      max-width: 229px;
    }
  }
}
