@use '../palette/palette' as *;
@use '../abstracts/inheritance/subtitle-h2';
@use '../abstracts/mixins/mixins' as mixins;

.contact-with-us {
  @include mixins.box-shadow-container($green-primary-900);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 445px;
  overflow: visible;
  border-radius: 50px;
  border: none;
  background-color: $green-light-200;
  padding: 35px;

  &::backdrop {
    backdrop-filter: blur(6px);
    background-color: rgba($green-light-200, 55%);
  }

  &__content-box {
    background-color: $white;
    border-radius: 35px 35px 50px 50px;
    padding: 35px;
    margin: 0 -35px -35px;
    font-size: 16px;
    color: $green-neutral-500;
  }

  &__subtitle {
    @extend .subtitle-h2;

    width: 319px;
    font-size: 4rem;
    margin-bottom: 30px;

    &::after {
      @include mixins.long-hyphen(136px, 2px, 0 0 0 20px);
      position: relative;
      top: -10px;
    }
  }

  &__description {
    line-height: 1.625;
    margin: 0 0 20px;
  }

  &__address {
    font-family: 'Proxima Nova SemiBold';
    font-style: normal;
  }

  &__call-schedule {
    display: block;
    margin-bottom: 14px;
  }

  &__working-hours-box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 45px;

    & > img {
      height: 22px;
      width: 22px;
      margin-right: 15px;
    }
  }

  &__working-hours {
    display: block;
  }

  &__contact-list {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_with-border-line {
      &::after {
        content: '';
        width: 1px;
        height: 39px;
        background-color: $green-light-400;
        margin: 0 21px;
      }
    }

    & > img {
      width: 22px;
      height: 22px;
      margin-right: 15px;
    }
  }

  &__link {
    color: $green-neutral-700;
    text-decoration: none;
  }
}
