@use '../palette/palette' as *;

.input-text {
  width: 100%;
  height: 57px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 12px 0px rgba(73, 93, 76, 0.15);
  text-indent: 20px;
  font-family: 'Proxima Nova Regular';
  font-size: 1.4rem;
  padding: 0;

  &:focus {
    border: none;
    outline: none;
  }

  &::placeholder {
    font-size: 1.4rem;
    line-height: 1.21;
    color: $green-neutral-500;
  }
}

.input-text {
  &_in-footer {
    height: 49px;

    &:where(:nth-of-type(1n):not(:last-of-type)) {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 375px) {
  .input-text {
    &_in_submit-application {
      &:where(:nth-of-type(1n):not(:last-of-type)) {
        margin-bottom: 25px;
      }
    }

    &_in-footer {
      &:where(:last-of-type) {
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .input-text {
    &_in_submit-application {
      max-width: 290px;

      &:where(:nth-of-type(1n):not(:last-of-type)) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .input-text {
    &_in-footer {
      &:where(:last-of-type) {
        margin-bottom: 35px;
      }
    }
  }
}
