@use '../palette/palette' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins/mixins' as *;
@use '../abstracts/inheritance/all' as *;

$corner-radius: 65px;
$corner-radius-bookmark: 40px;

@mixin icon-button() {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
}

.list-services {
  display: flex;
  align-items: center;

  &__bookmarks {
    display: flex;
    background-color: $green-light-200;
  }

  &__bookmark {
    display: flex;
    padding: 25px 0;
    color: $green-neutral-500;
    background-color: $white;
    border: none;
    cursor: pointer;

    &-name {
      display: flex;
      align-items: center;
      font-size: 13px;
      white-space: nowrap;
      line-height: 1.21;
    }

    /* первая закладка */
    &_system-ventilation {
      letter-spacing: 0.3px;

      &::after {
        @include icon-button();
      }
    }

    /* вторая закладка */
    &_conditioning {
      letter-spacing: 0.6px;

      &::after {
        @include icon-button();

        transform: rotate(180deg);
      }
    }

    /* выбранная закладка */
    &_active {
      @extend .active-button-action;
      color: $white;

      &::after {
        filter: $filter-white;
      }
    }

    /* неактивная закладка */
    &:not(&_active) {
      color: $green-neutral-500;

      &::after {
        filter: $filter-green-neutral-500;
      }
    }

    /* ховер неактивной закладки */
    &:hover:not(&_active) {
      color: $green-accent-500;

      &::after {
        filter: $filter-green-accent-500;
      }
    }
  }

  &__box-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 676px;
    background-color: $green-light-200;
    border-radius: $corner-radius 0px 0px $corner-radius;
    padding-left: 40px;
  }

  &__image-list {
    width: 100%;
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 356px;
    height: 428px;
    list-style: none;
    font-size: 20px;
    margin: 0;
    color: $green-primary-900;

    &-item {
      display: flex;
      align-items: flex-start;
      white-space: pre-line;
      line-height: 1.5;

      &-icon {
        position: relative;
        width: 34px;
        height: 34px;
        top: -2px;
        background-color: $white;
        object-fit: contain;
        margin-right: 15px;
        padding: 7px;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .list-services {
    flex-direction: column;

    &__box-list {
      flex-direction: column;
      border-top-left-radius: 0;
      border-bottom-right-radius: $corner-radius-bookmark;
      padding: 25px 15px 15px 40px;
    }

    &__bookmarks {
      flex-direction: row-reverse;
      width: 100%;
      height: 80px;
      border-top-left-radius: $corner-radius-bookmark;
      border-top-right-radius: $corner-radius-bookmark;
      padding: 15px 15px 0;
    }

    &__bookmark {
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 65px;

      &::after {
        content: none; /* убираем иконки */
      }

      &-name {
        transform: rotate(360deg);
        writing-mode: horizontal-tb;
      }

      &_system-ventilation {
        border-top-right-radius: $corner-radius-bookmark;
      }

      &_conditioning {
        border-top-left-radius: $corner-radius-bookmark;
      }
    }

    &__list {
      margin-bottom: 20px;
    }

    &__box-image-list {
      width: 345px;
      height: 170px;
    }

    &__image-list {
      border-radius: 50px;
      box-shadow: 0px -4px 8px 0px rgba($green-dark-800, 0.35);
    }
  }
}

@media screen and (min-width: 768px) {
  .list-services {
    flex-direction: row;

    &__box-list {
      min-width: 375px;
      width: 100%;
      border-bottom-right-radius: 0;
      border-top-left-radius: $corner-radius-bookmark;
      padding: 30px 30px 15px 30px;
    }

    &__bookmarks {
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 75px;
      height: 486px;
      border-top-right-radius: 0;
      border-top-left-radius: $corner-radius-bookmark;
      border-bottom-left-radius: $corner-radius-bookmark;
      padding: 10px 0 10px 10px;
    }

    &__bookmark {
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      width: 65px;
      height: 233px;

      &-name {
        transform: rotate(180deg);
        writing-mode: vertical-lr;
      }

      &_system-ventilation {
        border-top-right-radius: 0;
        border-top-left-radius: $corner-radius-bookmark;

        &::after {
          content: '';
          background-image: url('../../images/icons/listServices/systemVentilation/fan-2.svg');
        }
      }

      &_conditioning {
        border-top-left-radius: 0;
        border-bottom-left-radius: $corner-radius-bookmark;

        &::after {
          content: '';
          background-image: url('../../images/icons/listServices/conditioning/air-conditioning.svg');
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .list-services {
    &__box-list {
      flex-direction: row;
      padding: 0 0 0 40px;
    }

    &__box-image-list {
      width: 240px;
      height: 655px;
    }

    &__image-list {
      box-shadow: -4px 0px 8px 0px rgba($green-dark-800, 0.3);
      border-radius: $corner-radius 0px 0px $corner-radius;
    }
  }
}
