@use '../palette/palette' as *;
@use '../abstracts/inheritance/subtitle-h2';
@use '../abstracts/mixins/mixins' as mixins;

.modal {
  @include mixins.box-shadow-container($green-primary-900);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 445px;
  overflow: visible;
  border-radius: 50px;
  border: none;
  background-color: $green-light-200;
  padding: 35px;

  &::backdrop {
    backdrop-filter: blur(6px);
    background-color: rgba($green-light-200, 55%);
  }

  &__subtitle {
    @extend .subtitle-h2;

    width: 319px;
    font-size: 4rem;
    margin-bottom: 30px;
  }

  &__long-hyphen {
    &::after {
      position: relative;
      top: -10px;
    }

    &_in-contact-with-us {
      &::after {
        @include mixins.long-hyphen(136px, 2px, 0 0 0 20px);
      }
    }

    &_in-call-me-back {
      &::after {
        @include mixins.long-hyphen(126px, 2px, 0 0 0 20px);
      }
    }
  }

  &__content-box {
    @include mixins.box-shadow-container($green-primary-900);

    background-color: $white;
    border-radius: 35px 35px 50px 50px;
    padding: 35px;
    margin: 0 -35px -35px;
    font-size: 16px;
    color: $green-neutral-500;
  }

  &__logo-box {
    width: 228px;
    height: 68px;
    margin: 50px auto -20px;
  }
}
