@use './../palette/palette' as *;
@use 'sass:map';

.navigation {
  flex-shrink: 0;
  max-width: 646px;
  width: 100%;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 15px;
    padding: 0;
    margin: 0;
  }

  &__item-list {
    cursor: pointer;

    & a {
      text-decoration: none;
      color: $green-primary-900;
    }
  }
}
