@use '../abstracts/mixins/mixins' as *;
@use '../palette/palette' as *;

.slider {
  display: flex;

  &__wrapper-navigation {
    display: flex;
  }

  &__button-navigation {
    @include slider-button-change-image;
    top: 25px;
    left: 0;
    cursor: pointer;

    &_prev {
      margin-right: 25px;
    }

    &_prev,
    &_next {
      &::after {
        background-image: url('../../images/components/Slider/slider-button-active.svg');
      }
      background-color: rgba($green-secondary-500, 0.25);
    }

    &_prev:not(&_disabled) {
      transform: rotate(180deg); // если есть _prev и нету _disabled
    }

    &_next:where(&_disabled) {
      transform: rotate(180deg); // если есть и _next и _disabled
    }

    &_disabled {
      background-color: rgba($white, 0.6);
      cursor: auto;

      &::after {
        background-image: url('../../images/components/Slider/slider-button-disabled.svg');
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .slider {
    &_in-portfolio {
      flex-direction: column-reverse;
      align-items: center;
      align-self: self-start;
      margin: 0 auto;
    }

    &_in-customers {
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;
      overflow: hidden;
    }
  }
}

@media screen and (min-width: 768px) {
  .slider {
    &_in-portfolio {
      position: relative;
      width: 100%;
      padding-left: 28px;
      flex-direction: column;
      align-items: end;
      margin: 0;
    }

    &__wrapper-navigation {
      &_in-portfolio {
        align-self: self-start;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .slider {
    &__button-navigation {
      &_in-customers {
        width: 38px;
        height: 38px;

        &::after {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .slider {
    &_in-portfolio {
      padding-left: 0;
    }
  }
}
