@use './../palette/palette' as *;
@use 'sass:map';

.slogan {
  width: 100%;
  font-family: 'Ruberoid Regular';

  &__title {
    color: $green-primary-900;
    word-break: break-all;
    letter-spacing: -0.6px;
    font-size: 64px;
    line-height: 1.16;
    margin: 0;
  }

  &__long-line {
    &::before {
      background-color: $green-secondary-500;
      content: '';
      display: inline-block;
      width: 148px;
      height: 3px;
      margin: 0 45px 20px 0;
      border-radius: 1.5px;
    }
  }

  &__company-name {
    color: $green-secondary-500;
    line-height: 1.3;
    letter-spacing: 1.55px;
  }
}
