@use '../palette/palette' as *;
@use '../abstracts/inheritance/subtitle-h2' as *;

.swiper {
  max-width: 100%;
  margin: 0;
}

// все слайды (особенно начиная с третьего, поскольку для первого и второго есть свои селекторы: .swiper-slide-active и .swiper-slide-next)
.swiper-slide {
  position: relative;
  display: flex;
  text-align: center;
  font-size: 18px;
  transition: width 0.3s ease;

  &__box-description {
    min-height: 68px;
    position: absolute;
    bottom: 38px;
    left: 31px;
    display: flex;
    flex-direction: column;
    color: $white;
    text-align: start;
    transition: 1s ease;
  }

  &__subtitle {
    @extend .subtitle-h2;
    font-size: 2.2rem;
    line-height: 1.45;
    color: $white;
    margin-bottom: 10px;
  }

  &__text {
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 1.6rem;
    line-height: 1.625;
    margin: 0;
    transition: visibility ease 0.5;
  }

  & > img {
    display: inline-block;
  }
}

@media screen and (min-width: 375px) {
  .swiper {
    &_in-portfolio {
      overflow: hidden;
      padding-top: 25px;
    }

    &_in-customers {
      overflow: hidden;
      margin-bottom: 30px;
    }
  }

  .swiper-slide {
    &_in-portfolio {
      width: 319px;
      height: 419px;
    }

    &__logo {
      &_in-portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 35px;
        left: 0;
        width: 164px;
        height: 49px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: $green-light-200;

        & > img {
          width: 94px;
          height: 29px;
        }
      }
    }

    &__image {
      &_in-portfolio {
        width: 100%;
        border-radius: 35px;
        object-fit: cover;
      }
    }

    &_in-customers {
      width: 258px;
      height: 116px;

      & > img {
        width: 100%;
        border-radius: 30px;
        object-fit: contain;
        padding: 38px 35px;
        background-color: $white;
      }

      &::before {
        display: none;
      }
    }

    &__box-description {
      max-width: 259px;
    }
  }

  .swiper-wrapper {
    &_in-portfolio {
      width: 319px;
      margin-bottom: 27px;
    }
  }
}

@media screen and (min-width: 768px) {
  .swiper {
    overflow: visible;
  }

  .swiper-wrapper {
    &_in-portfolio {
      width: 100%;
      margin-bottom: 0;
    }
  }

  .swiper-slide {
    &__box-description {
      max-width: 400px;
    }

    &_in-portfolio {
      width: 270px;
      height: 456px;
    }

    &-active_in-porfolio {
      width: 500px;
    }

    &-prev_in-porfolio {
      width: 500px;
    }

    &-next_in-porfolio {
      width: 270px;
    }
  }
}
