@use '../palette/palette' as *;
@use '../abstracts/inheritance/subtitle-h2' as *;

.swiper {
  padding-top: 25px;
  max-width: 100%;
  margin: 0;
}

// все слайды (особенно начиная с третьего, поскольку для первого и второго есть свои селекторы: .swiper-slide-active и .swiper-slide-next)
.swiper-slide {
  position: relative;
  display: flex;
  text-align: center;
  font-size: 18px;
  transition: width 0.3s ease;

  &__box-description {
    min-height: 68px;
    position: absolute;
    bottom: 38px;
    left: 31px;
    display: flex;
    flex-direction: column;
    color: $white;
    text-align: start;
    transition: 1s ease;
  }

  &__subtitle {
    @extend .subtitle-h2;
    font-size: 2.2rem;
    line-height: 1.45;
    color: $white;
    margin-bottom: 10px;
  }

  &__text {
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 1.6rem;
    line-height: 1.625;
    margin: 0;
    transition: visibility ease 0.5;
  }

  & > img {
    display: inline-block;
  }
}

@media screen and (min-width: 375px) {
  .swiper {
    &_in-portfolio {
      overflow: hidden;
    }
  }

  .swiper-slide {
    &_in-portfolio {
      width: 319px;
      height: 419px;

      & > img {
        width: 100%;
        border-radius: 35px;
        object-fit: cover;
      }

      &-text-box {
        position: absolute;
        bottom: 46px;
        left: 40px;
        color: $white;
        text-align: start;
        transition: 1s ease;

        & > h2 {
          font-family: 'Ruberoid SemiBold';
          font-size: 24px;
          text-transform: capitalize;
          line-height: 1.41;
          margin: 0;
        }

        & > p {
          width: 400px;
          color: $white;
          margin: 10px 0 0 0;
          font-size: 16px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 35px;
        left: 0;
        width: 164px;
        height: 49px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: $green-light-200;
        background-image: url('/images/logo/logo.svg');
        background-size: 94px 29px;
        background-repeat: no-repeat;
        background-position: 40px 50%;
      }
    }

    &__box-description {
      max-width: 259px;
    }
  }

  .swiper-wrapper {
    &_in-portfolio {
      width: 319px;
      margin-bottom: 27px;
    }
  }
}

@media screen and (min-width: 768px) {
  .swiper {
    overflow: visible;
  }

  .swiper-wrapper {
    &_in-portfolio {
      width: 100%;
    }
  }

  .swiper-slide {
    &__box-description {
      max-width: 400px;
    }

    &_in-portfolio {
      width: 270px;
    }

    &-active_in-porfolio {
      width: 500px;
    }

    &-prev_in-porfolio {
      width: 500px;
    }

    &-next_in-porfolio {
      width: 270px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .swiper-slide {
    height: 456px;
  }
}
