@use '../abstracts/mixins/mixins' as *;

.work-scheme {
  &__steps {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }

  &__step {
    position: relative;

    &_align-right {
      text-align: end;
    }
  }

  &__title {
    @include subtitle-h2;
    margin-bottom: 17px;
  }

  &__subtitle {
    @include subtitle-h3;
    font-size: 35px;
    font-weight: 400;

    &_align-right {
      text-align: end;
    }
  }

  &__text {
    margin: 21px 0 12px;
    line-height: 1.62;

    &_align-right {
      text-align: end;
    }
  }

  &__receiving-application {
    grid-row: 1/4;
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // max-width: 496px;
    min-height: 300px;

    /* письмо */
    &::before {
      content: '';
      position: absolute;
      top: 2%;
      right: 15.5%;
      width: 238px;
      height: 100%;
      background-image: url('../../images/Components/WorkScheme/letter.svg');
      background-repeat: no-repeat;
      // background-position: center;
      z-index: -1;
    }

    /* путь-1 */
    &::after {
      content: '';
      position: absolute;
      top: 67%;
      right: -42%;
      width: 527px;
      height: 78px;
      background-image: url('../../images/Components/WorkScheme/pathes/path-1.svg');
    }
  }

  &__consultation {
    grid-row: 3/5;
    grid-column: 7/13;
    min-height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;

    /* мозг */
    &::before {
      content: '';
      position: absolute;
      top: 0.8%;
      left: 17.7%;
      width: 100%;
      height: 100%;
      background-image: url('../../images/Components/WorkScheme/brain.svg');
      background-repeat: no-repeat;
      background-size: max-content;
      z-index: -1;
    }

    /* путь-2 */
    &::after {
      content: '';
      position: absolute;
      left: -40.5%;
      bottom: -15%;
      width: 506.29px;
      height: 80.15px;
      background-image: url('../../images/Components/WorkScheme/pathes/path-2.svg');
      background-size: cover;
    }
  }

  &__visit-object {
    grid-column: 1/7;
    grid-row: 4/6;
    max-width: 496px;
    min-height: 254px;
    margin-top: 119px;

    /* дом и метка */
    &::before {
      content: '';
      position: absolute;
      top: -33%;
      right: -13%;
      width: 100%;
      height: 100%;
      background-image: url('../../images/Components/WorkScheme/house.svg');
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
    }

    /* путь-3 */
    &::after {
      content: '';
      position: absolute;
      bottom: 7%;
      right: -20.5%;
      width: 219px;
      height: 95px;
      background-image: url('../../images/Components/WorkScheme/pathes/path-3.svg');
      background-repeat: no-repeat;
    }
  }

  &__graphic {
    grid-column: 6/13;
    grid-row: 5/7;
    justify-self: self-end;
    width: 625px;
    text-align: end;
    margin-top: 75px;

    /* календарь */
    &::before {
      content: '';
      position: absolute;
      top: -69px;
      left: 101px;
      width: 288.71px;
      height: 274.13px;
      background-image: url('../../images/Components/WorkScheme/calendar.svg');
      z-index: -1;
      opacity: 50%;
    }

    /* путь-4 */
    &::after {
      content: '';
      position: absolute;
      bottom: -92px;
      left: -158px;
      width: 587px;
      height: 139px;
      background-image: url('../../images/Components/WorkScheme/pathes/path-4.svg');
    }
  }

  &__contract {
    grid-column: 1/7;
    grid-row: 6/9;
    width: 449px;
    padding-top: 30px;

    /* блокнот */
    &::before {
      content: '';
      position: absolute;
      top: -19px;
      left: 120px;
      width: 275px;
      height: 290px;
      background-image: url('../../images/Components/WorkScheme/notepad.svg');
      z-index: -1;
    }

    /* путь-5 */
    &::after {
      content: '';
      position: absolute;
      bottom: -178px;
      right: -140px;
      width: 337px;
      height: 68px;
      background-image: url('../../images/Components/WorkScheme/pathes/path-5.svg');
    }
  }
}
