.main {
  display: flex;
  flex-direction: column;
  // margin: 0 0 0 135px;
  margin: 0;
  width: 100%;

  & > :where(:nth-child(1n):not(:nth-child(1))) {
    max-width: 1170px;
  }

  .services-provided {
    padding: 100px 0;
  }
}
