@use '../../palette/palette' as *;
@use '../../abstracts/variables' as *;

@mixin active-button() {
  color: $white;
  background-color: $green-primary-500;
  box-shadow: $box-shadow-button-accent;
  transition: background-color $transition-time-change-color;
}

@mixin hover-button() {
  background-color: $green-accent-500;
}

@mixin disabled-button() {
  background-color: $green-neutral-300;
}

@mixin button-size($size, $field-button) {
  @if $size == m {
    height: 75px;
    border-radius: 20px;

    & > button {
      width: calc(100% - $field-button * 2);
      height: calc(100% - $field-button * 2);
      border-radius: 17px;
    }
  }
}
