@mixin icon-contact($width, $height, $path) {
  content: '';
  display: inline-block;
  width: $width;
  height: $height;
  background-image: url($path);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
