@use '../../palette/palette' as *;
@use '../../abstracts/variables' as *;

@mixin subtitle-h2 {
  font-family: $font-family-title;
  font-size: 45px;
  line-height: 1.33;
  color: $green-primary-900;
  margin: 0;
  text-transform: capitalize;
}
