$green-neutral-700: #7b897d; // текст
$green-neutral-500: #7ca381; // текст, placeholders
$green-neutral-300: #9cd3a3; // кнопки

$green-primary-900: #495e4c; // заголовки, текст
$green-primary-500: #5ccd6a; // основные кнопки

$green-secondary-800: #226f21; // тени кнопок
$green-secondary-500: #78c081; // подзаголовки, вторичные элементы

$green-light-200: #d9fadd; // фон

$green-accent-500: #54e165; // ховер

$white: #fff; // текст, фон
$gray-700: #848484; // текст
