@use '../abstracts//variables' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Proxima Nova Regular';
}

section {
  margin-left: $main-margin-side-page;
  margin-right: $main-margin-side-page;
}
