@font-face {
  font-family: 'Proxima Nova Regular';
  src:
    local('ProximaNova-Regular'),
    url('./ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
    url('./ProximaNova/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src:
    local('ProximaNova-Semibold'),
    url('./ProximaNova/ProximaNova-Semibold.woff2') format('woff2'),
    url('./ProximaNova/ProximaNova-Semibold.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Ruberoid Regular';
  src:
    local('Ruberoid-Regular'),
    url('./Ruberoid/Ruberoid-Regular.woff2') format('woff2'),
    url('./Ruberoid/Ruberoid-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Ruberoid Medium';
  src:
    local('Ruberoid-Medium'),
    url('./Ruberoid/Ruberoid-Medium.woff2') format('woff2'),
    url('./Ruberoid/Ruberoid-Medium.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Ruberoid Light';
  src:
    local('Ruberoid-Light'),
    url('./Ruberoid/Ruberoid-Light.woff2') format('woff2'),
    url('./Ruberoid/Ruberoid-Light.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Ruberoid ExtraLight';
  src:
    local('Ruberoid-ExtraLight'),
    url('./Ruberoid/Ruberoid-ExtraLight.woff2') format('woff2'),
    url('./Ruberoid/Ruberoid-ExtraLight.woff') format('woff');
  font-weight: normal;
}
