@font-face {
  font-family: 'Proxima Nova Regular';
  src:
    local('ProximaNova-Regular'),
    url('./ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
    url('./ProximaNova/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Ruberoid Regular';
  src:
    local('Ruberoid-Regular'),
    url('./Ruberoid/Ruberoid-Regular.woff2') format('woff2'),
    url('./Ruberoid/Ruberoid-Regular.woff') format('woff');
  font-weight: normal;
}
