@use '/src/scss/palette/palette' as *;

$font-family-title: 'Ruberoid SemiBold';
$font-family-subtitle: 'Ruberoid Regular';
$transition-time-change-color: 0.15s;

$main-margin-side-page: 135px;
$width-page: 1095px;

$box-shadow-button-accent: 2px 2px 12px 0px $rgba-green-secondary-800 inset;
$box-shadow-button-disabled: 2px -2px 12px 0px $rgba-green-secondary-800 inset;

$padding-section-min-size-screen: 28px;

$font-size-subtitle-h2-375-media: 2.8rem;
$font-size-subtitle-h2-768-media: 4.5rem;

// padding-top
$pt-section-375-media: 70px;
$pt-section-1024-media: 100px;

// padding-bottom
$pb-section-375-media: 70px;
$pb-section-1024-media: 100px;

// margin-bottom
$mb-section-375-media: 70px;
$mb-section-1024-media: 100px;
