@use '../../palette/palette' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  transition: background-color 0.1s ease;
  z-index: 100;

  &__logo {
    width: 168px;
    height: 53px;
  }
}

@media screen and (min-width: 375px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 26px 28px 20px;

    &__box-navigation {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 26px 45px 20px;

    &_bg-color_green {
      background-color: $green-light-200;
    }

    &__box-navigation {
      display: flex;
      justify-content: end;
    }
  }
}
