.header {
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 820px;
  background-image: linear-gradient(
    rgba(241, 241, 241, 1),
    rgba(240, 242, 241, 1),
    rgba(235, 237, 236, 1),
    rgba(230, 232, 231, 1),
    rgba(222, 226, 225, 1)
  );

  &__box {
    position: relative;
    z-index: 1;
  }

  &__logo-nav-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &::after {
    content: '';
    z-index: 0;
    top: 0;
    right: 0;
    position: absolute;
    display: inline-block;
    width: 810px;
    height: 100%;
    background-size: cover;
    background-image: url('/images/bg/leavesInCircle.png');
    background-repeat: no-repeat;
  }

  .logo {
    margin: 26px 0 0 45px;
  }

  .slogan {
    margin: 72px 0 0 135px;
  }
}
